body {
	margin: 0;
}

/* circle */
#circleCanvas {
	position: absolute;
	width: 361px;
	height: 361px;
	background-image: url("./circle.png");
	image-rendering: pixelated;
	margin: 10px;
}

#circleCanvas > .dot {
	position: absolute;
	width:  1px;
	height: 1px;
	background-color: black;
}

#circleCanvas > .dot:last-of-type {
	background-color: yellow;
	width:  3px;
	height: 3px;
	transform: translate(-1px, -1px);
}

#circleCircle {
	position: absolute;
	width: 361px;
	height: 361px;
	image-rendering: pixelated;
	margin: 11px;
}

#circleCircle > .dot {
	position: absolute;
	width:  1px;
	height: 1px;
	background-color: black;
}

#radius {
	position: absolute;
	width:  180px;
	height: 1px;
	left: 90px;
	top: 180px;
	margin: 11px;
	background-color: black;
}

#radiusUnit {
	position: absolute;
	width:  180px;
	height: 1px;
	left: 90px;
	top: 180px;
	margin: 11px;
	text-align: center;
}

#radianText {
	position: absolute;
	width: 100px;
	height: 20px;
	left: 210px;
	top: 160px;
	text-align: left;
}

#verticalLine {
	position: absolute;
	margin: 10px;
	height: 1px;
	z-index: 2;
	background-color: black;
}

#verticalUnit {
	position: absolute;
	z-index: 2;
}

/* sinewave */
#sineCanvas {
	position: absolute;
	width: 361px;
	height: 361px;
	background-image: url("./sine.png");
	image-rendering: pixelated;
	margin: 10px 380px;
}

#sineCanvas > .dot {
	position: absolute;
	width:  1px;
	height: 1px;
	background-color: black;
}

#sineCanvas > .dot:last-of-type {
	background-color: red;
	width:  3px;
	height: 3px;
	transform: translate(-1px, -1px);
}

#horizontialLine {
	position: absolute;
	margin: 10px;
	z-index: 2;
	background-color: black;
	width:  3px;
	height: 3px;
	transform: translate(-1px, -1px);
}
